<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/tailwind_min.css')}}">

    <script src="{{ url_for('static', filename='dist/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/sweetalert2/sweetalert2.all.js') }}"></script>

    <title>{{ data.title }}</title>
</head>

<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-stone-200/80 py-6 sm:py-12">
        <div class="relative bg-white px-6 pb-3 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg">
            <div class="mx-auto max-w-md sm:w-screen md:w-screen xl:w-screen">
                <div class="divide-y divide-gray-300/50">
                    <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                        <div class="text-center">
                            <h2>
                                <div class="flex justify-center">
                                    <p class="text-2xl font-light">two factor authentication (2FA)</p>
                                </div>
                            </h2>
                        </div>
                        <form action="/auth/2FA" method="POST">
                            <div class="d-flex mb-6 text-center font-semibold">
                                <div class="d-flex mt-10 justify-items-center">
                                    <div>
                                        <input name="number" type="text" class="input2FA h-10 w-44 rounded-lg border border-stone-300 bg-stone-200/80 text-center text-2xl font-normal tracking-widest" id="input2FA" value="" maxlength="6" required tabindex="1" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <button type="submit" class="mt-5 w-96 max-w-full rounded-lg bg-blue-700 p-2 text-sm font-medium text-white">Enviar</button>
                            </div>
                        </form>
                    </div>
                    
                    {% if data.qrcode %}
                        <!-- <div class="flex justify-center divide-y divide-gray-300/50">
                            <div class="pt-5 text-base font-semibold leading-7">
                                <div class="w-40 h-auto">
                                    <img src="{{ qrcode(data.qrcode) }}" alt="">
                                </div>
                            </div>
                        </div> -->
                    {% endif %}
                        
                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                            
                            <script>
                                Swal.fire({
                                    title: '{{messages[0]}}',
                                    icon: 'error',
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    showCloseButton: true,
                                    closeButtonHtml: '<button type="button" class="p-4 ml-auto bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200" data-dismiss-target="#alert-2" aria-label="Close"><span class="sr-only">Close</span><svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>',
                                    timer: 5000
                                });
                            </script>
                            
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }

        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    
    }

    $(document).ready(function () {

        $("#input2FA-1").focus();
        
        $('.input2FA').keyup(function(e){
            
            if (/\D/g.test(this.value)){
                // Filter non-digits from input value.
                this.value = this.value.replace(/\D/g, '');
            }else{
                var currentInput = $(this).prop('tabindex')
                var nextInput = currentInput + 1
                if (nextInput > 6){ $('button').focus(); }else{ $('#input2FA-'+nextInput).focus() }
            }
        });

        });
</script>

</html>