<!DOCTYPE html>
<html lang="pt-BR">

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='dist/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/sweetalert2/sweetalert2.all.js') }}"></script>
    
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/tailwind_min.css')}}">
    
    <script src="{{ url_for('static', filename='dist/json-to-excel/excelexportjs.js') }}"></script>
    
</head>
{% endblock %}

<body>

{% include './modules/navbar/navbar.html' %}
{% include './modules/sidebar/sidebar.html' %}


    <div class="p-4 sm:ml-64">

        <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
            
            {% block content %}
                
            {% endblock %}

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

</body>

</html>